.tile{
    width: min(10vh,10vw);
    height: min(10vh,10vw);
    display: flex;
    justify-content: center;
    align-items: center;
}
.tileBlack{
    background-color: #4A4135;
}
.tileWhite{
    background-color: #FFD8B4;
}
.clicked{
    box-shadow: inset 0 0 50px green;
}
.validMove{
    box-shadow: inset 0 0 50px red;
}