

#board{
    width: min(80vh,80vw);
    height: min(80vh,80vw);
    background-color: #381F04;
    margin: 20px;
    display: grid;
    padding:min(5vh,5vw);
    display: flex;
    flex-wrap: wrap;
    box-shadow: inset 0 0 5px #FFD8B4;
    border-radius: 5px;

}

